nav {
    font-family: "Snell Roundhand";
    background-color: black;
    padding: 6px;
    border-radius: 10px;
    margin: 0;
    width: 100%;
    position: fixed;
    font-size: large;
    left: 0;
    right: 0;
}

nav > a {
    padding: 20px;
    font-size: 20px; /* Taille de police réduite */
    color: #F0EAD6;
    text-decoration: none;
}

body {
    width: 80%; /* Pour centrer le contenu */
    margin: auto;
    text-align: center;
    background-color: #F0EAD6;
    font-size: 18px; /* Taille de police globale réduite */
}

main {
    border: solid;
    background-color: #F0EAD6;
    border-radius: 6px;
}

.contact-info {
    text-align: left; /* Alignement à gauche pour les informations de contact */
    padding: 20px;
}

.contact-info p {
    margin: 10px 0; /* Espacement entre les paragraphes d'information */
}

.contact-info strong {
    color: #333; /* Couleur du texte en gras */
}
        
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.text-content {
    text-align: left;
    font-family: trebuchet;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-top: 40px;
}

.nav-item, .highlighted {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    width: calc((100% - 150px) / 4);
    height: calc((100% - 150px) / 4);
    min-width: 150px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.highlighted {
    font-size: 20px;
}
.nav-item, .highlighted{
    background-color: black;
}
.nav-item:hover, .highlighted:hover {
    background-color: darkcyan;
}
/* Mode Sombre */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode a {
    color: #bb86fc;
}

.dark-mode header, .dark-mode footer {
    background-color: #1e1e1e;
}
